@import '../styles/variables.scss';

.base {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  background-color: $background-color;
}

.photo {
  position: absolute;
  top: 100px;
  right: 500px;
  width: 25%;

  &-container {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
    mix-blend-mode: lighten;
    pointer-events: none;
  }
}

.short-story {
  font-size: 32px;
  font-weight: 100;
  max-width: 400px;
  margin-top: 150px;
  text-align: justify;
}

.story {
  margin-top: 100px;
  font-weight: 100;
  text-align: justify;
  max-width: 730px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 24px;
}
