@import '../styles/variables.scss';

.base {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0.1px;
  mix-blend-mode: lighten;
}

.photo {
  position: absolute;
  left: 0;
  top: 0;

  &-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
  }
}

.body {
  position: relative;
  margin-left: 80px;
  z-index: 1;
}

.content {
  margin-left: 600px;
  margin-right: 20px;
  margin-top: 150px;
}

.name-title {
  font-weight: 100;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 72px;
  color: darken($text-color, 10%);
  margin: 0;
  margin-left: -50px;
}

.author-description {
  margin: 0;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  color: $secondary-color;
}
