@import '../styles/variables.scss';

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: $secondary-color;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  width: 64px;
  height: 64px;
  margin: 8px auto;
  fill: $text-color;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}

.elements {
  width: 100%;

  > ul {
    margin: 0;
    padding: 0;

    > li {
      cursor: pointer;
      list-style: none;

      > .link {
        display: block;
        padding: 12px;
        text-align: center;

        &:hover {
          background-color: lighten($color: $secondary-color, $amount: 4);
        }
      }
    }
  }
}

.link {
  color: inherit;
}

.icon {
  width: 40px;
  height: 40px;
  // stroke-width: 0.5px;

  &.small {
    width: 24px;
    height: 24px;
  }

  &.solid {
    background-color: $text-color;
    color: $secondary-color;
    padding: 4px;
    border-radius: 5px;
  }
}

.socials {
  padding: 12px;

  > ul {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;
    }
  }
}

.github {
  stroke-width: 2;
}
